<section class="section hero-home">
    <div class="container">
        <div class="splitter">
            <div class="splitter__main">
                <div class="hero-home__label">NEW!  VERSION 9</div>
                <h1 class="hero-home__title">Made <br>for thinkers like you</h1>
                <p class="hero-home__text">
                    Axure RP is made for people who design transformational software products. It’s the most powerful way to plan, prototype and hand-off to developers, all without code.
                </p>
                <form action="#" class="hero-home__form oneline-form">
                    <input type="text" class="oneline-form__input" placeholder="Email Address (optional)">
                    <input type="submit" class="btn btn_download oneline-form__submit" value="Download">
                </form>
            </div>
            <div class="splitter__sec">
                <div class="splitter__pic">
                    <img src="images/temp_hero-image.png" srcset="images/temp_hero-image@2x.png 2x" alt="">
                </div>
            </div>
        </div>
    </div>
</section>