$icons: (
    sprite: (width: 46px, height: 49px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    downlaod-apple: (width: 16px, height: 18px, backgroundX: 0px, backgroundY: 0px),
    downlaod-windows: (width: 16px, height: 17px, backgroundX: -16px, backgroundY: -18px),
    search: (width: 14px, height: 14px, backgroundX: -32px, backgroundY: -35px),
);