.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-burger-btn {
  width: 21px;
  height: 18px;
}
.icon-check {
  width: 16px;
  height: 13px;
}
.icon-checkmark {
  width: 16px;
  height: 16px;
}
.icon-close {
  width: 22px;
  height: 22px;
}
.icon-download {
  width: 33px;
  height: 33px;
}
.icon-ic-check {
  width: 18px;
  height: 18px;
}
.icon-ic-expand {
  width: 850.66px;
  height: 2000px;
}
.icon-ic-launch {
  width: 18px;
  height: 13px;
}
.icon-ic-mac {
  width: 20px;
  height: 24px;
}
.icon-ic-pc {
  width: 17px;
  height: 17px;
}
.icon-play {
  width: 96px;
  height: 96px;
}
.icon-question {
  width: 20px;
  height: 20px;
}
.icon-social_fb {
  width: 11px;
  height: 22px;
}
.icon-social_fb-square {
  width: 24px;
  height: 24px;
}
.icon-social_inst {
  width: 25px;
  height: 25px;
}
.icon-social_ln {
  width: 30px;
  height: 25px;
}
.icon-social_ln-square {
  width: 24px;
  height: 24px;
}
.icon-social_tw {
  width: 24px;
  height: 20px;
}
.icon-social_tw-square {
  width: 24px;
  height: 24px;
}
