@mixin linkReset{
  text-decoration: none;
  color: #000;
}

@mixin linkColor($color: 'inherit', $hover: $mainCol) {
  color: #{$color};
  transition: color $ttime1;

  &:hover,
  &:focus {
    color: $hover;
  }
}

@mixin link {
  @include linkReset;
  @include linkColor($mainCol);
  font-family: $mainFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color $ttime1, background $ttime1;
}
