{#prototype-form_team#}
<section class="s-model ">
    <div class="s-model__container">
        <h2 class="s-model__title">“Axure allows us to test everything, even the most complex use cases. Our prototypes
            look and act like the real thing.”</h2>
        <div class="s-model__person">
            <span class="s-model__person-icon">
				<picture>
					<img src="images/Julia.png" srcset="" alt="">
				</picture>
			</span>
            <span class="s-model__person-name">Julie</span>
            <span class="s-model__person-position">Managing Director, User Experience Lab</span>
        </div>

        <div class="s-model__form">
            {#todo: remove download-hero__ * from here and create instead them .form-giant__* classes #}
            <div class="download-hero__form s-model__form-conainer form-giant">
                    <noscript class="ninja-forms-noscript-message">
                        Notice: JavaScript is required for this content.
                    </noscript>
                    <div id="nf-form-9-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-9"
                         aria-describedby="nf-form-errors-9" role="form">
							<span id="nf-form-title-9" class="nf-form-title">
							</span>
                        <div class="nf-form-wrap ninja-forms-form-wrap nf-multi-cell">
                            <div class="nf-response-msg"></div>
                            <div class="nf-debug-msg"></div>
                            <div class="nf-before-form">
                                <nf-section>
                                </nf-section>
                            </div>
                            <div class="nf-form-layout">
                                <form>
                                    <div>
                                        <div class="nf-before-form-content">
                                            <nf-section>
                                                <div class="nf-form-fields-required"></div>

                                            </nf-section>
                                        </div>
                                        <div class="nf-form-content ">
                                            <nf-rows-wrap>
                                                <div class="nf-row">
                                                    <nf-cells>
                                                        <div class="nf-cell" style="width: 30%; float: left;">
                                                            <nf-fields>
                                                                <nf-field>
                                                                    <div id="nf-field-63-container"
                                                                         class="nf-field-container listselect-container  label-hidden download-hero__form-field  list-container">
                                                                        <div class="nf-before-field">
                                                                            <nf-section>

                                                                            </nf-section>
                                                                        </div>
                                                                        <div class="nf-field">
                                                                            <div id="nf-field-63-wrap"
                                                                                 class="field-wrap listselect-wrap list-wrap list-select-wrap"
                                                                                 data-field-id="63">


                                                                                <div class="nf-field-label"
                                                                                     style="height: 0;  margin: 0!important; width: 100%;  visibility: hidden;">
                                                                                    <label
                                                                                            for="nf-field-63"
                                                                                            id="nf-label-field-63"
                                                                                            class="">Select <span
                                                                                                class="ninja-forms-req-symbol">*</span>
                                                                                    </label></div>


                                                                                <div class="nf-field-element">
                                                                                    <select id="nf-field-63"
                                                                                            name="nf-field-63"
                                                                                            aria-invalid="false"
                                                                                            aria-describedby="nf-error-63"
                                                                                            class="ninja-forms-field js-os-select nf-element select2-hidden-accessible"
                                                                                            aria-labelledby="nf-label-field-63"
                                                                                            required=""
                                                                                            data-select2-id="nf-field-63"
                                                                                            tabindex="-1"
                                                                                            aria-hidden="true">


                                                                                        <option value="mac"
                                                                                                selected="selected"
                                                                                                data-select2-id="2">
                                                                                            macOS
                                                                                        </option>


                                                                                        <option value="pc"
                                                                                                data-select2-id="3">
                                                                                            Windows
                                                                                        </option>

                                                                                    </select><span
                                                                                            class="select2 select2-container select2-container--default"
                                                                                            dir="ltr"
                                                                                            data-select2-id="1"
                                                                                            style="width: 357.604px;"><span
                                                                                                class="selection"><span
                                                                                                    class="select2-selection select2-selection--single"
                                                                                                    role="combobox"
                                                                                                    aria-haspopup="true"
                                                                                                    aria-expanded="false"
                                                                                                    tabindex="0"
                                                                                                    aria-labelledby="select2-nf-field-63-container"><span
                                                                                                        class="select2-selection__rendered"
                                                                                                        id="select2-nf-field-63-container"
                                                                                                        role="textbox"
                                                                                                        aria-readonly="true"
                                                                                                        title="Windows"><span><span
                                                                                                                class="select2-ic"><svg><use
                                                                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                        xlink:href="#ic-pc"></use></svg></span>Windows</span></span><span
                                                                                                        class="select2-selection__arrow"
                                                                                                        role="presentation"><b
                                                                                                            role="presentation"></b></span></span></span><span
                                                                                                class="dropdown-wrapper"
                                                                                                aria-hidden="true"></span></span>
                                                                                    <div for="nf-field-63"></div>
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                        <div class="nf-after-field">
                                                                            <nf-section>

                                                                                <div class="nf-input-limit"></div>

                                                                                <div id="nf-error-63"
                                                                                     class="nf-error-wrap nf-error"
                                                                                     role="alert"></div>


                                                                            </nf-section>
                                                                        </div>
                                                                    </div>
                                                                </nf-field>
                                                            </nf-fields>
                                                        </div>
                                                        <div class="nf-cell" style="width: 39%; float: left;">
                                                            <nf-fields>
                                                                <nf-field>
                                                                    <div id="nf-field-61-container"
                                                                         class="nf-field-container email-container  label-hidden download-hero__form-field ">
                                                                        <div class="nf-before-field">
                                                                            <nf-section>

                                                                            </nf-section>
                                                                        </div>
                                                                        <div class="nf-field">
                                                                            <div id="nf-field-61-wrap"
                                                                                 class="field-wrap email-wrap"
                                                                                 data-field-id="61">


                                                                                <div class="nf-field-label"
                                                                                     style="height: 0;  margin: 0!important; width: 100%;  visibility: hidden;"><label
                                                                                            for="nf-field-61"
                                                                                            id="nf-label-field-61"
                                                                                            class="">Email </label>
                                                                                </div>


                                                                                <div class="nf-field-element">
                                                                                    <input type="email" value=" "
                                                                                           class="ninja-forms-field nf-element"
                                                                                           id="nf-field-61" name="email"
                                                                                           autocomplete="email"
                                                                                           placeholder="Email address (optional)"
                                                                                           aria-invalid="false"
                                                                                           aria-describedby="nf-error-61"
                                                                                           aria-labelledby="nf-label-field-61">
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                        <div class="nf-after-field">
                                                                            <nf-section>

                                                                                <div class="nf-input-limit"></div>

                                                                                <div id="nf-error-61"
                                                                                     class="nf-error-wrap nf-error"
                                                                                     role="alert"></div>


                                                                            </nf-section>
                                                                        </div>
                                                                    </div>
                                                                </nf-field>
                                                            </nf-fields>
                                                        </div>
                                                        <div class="nf-cell" style="width: 31%; float: left;">
                                                            <nf-fields>
                                                                <nf-field>
                                                                    <div id="nf-field-62-container"
                                                                         class="nf-field-container submit-container  label-hidden  textbox-container">
                                                                        <div class="nf-before-field">
                                                                            <nf-section>

                                                                            </nf-section>
                                                                        </div>
                                                                        <div class="nf-field">
                                                                            <div id="nf-field-62-wrap"
                                                                                 class="field-wrap submit-wrap textbox-wrap"
                                                                                 data-field-id="62">
                                                                                <div class="nf-field-label"
                                                                                     style="height: 0;  margin: 0!important; width: 100%;  visibility: hidden;"></div>
                                                                                <div class="nf-field-element">
                                                                                    <input id="nf-field-62"
                                                                                           class="ninja-forms-field download-hero__form-btn nf-element "
                                                                                           type="button"
                                                                                           value="Download Now">
                                                                                </div>
                                                                                <div class="nf-error-wrap"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="nf-after-field">
                                                                            <nf-section>

                                                                                <div class="nf-input-limit"></div>

                                                                                <div id="nf-error-62"
                                                                                     class="nf-error-wrap nf-error"
                                                                                     role="alert"></div>


                                                                            </nf-section>
                                                                        </div>
                                                                    </div>
                                                                </nf-field>
                                                            </nf-fields>
                                                        </div>
                                                    </nf-cells>
                                                </div>
                                            </nf-rows-wrap>
                                        </div>
                                        <div class="nf-after-form-content">
                                            <nf-section>

                                                <div id="nf-form-errors-9" class="nf-form-errors" role="alert">
                                                    <nf-errors></nf-errors>
                                                </div>
                                                <div class="nf-form-hp" style="visibility: hidden; position: absolute;">
                                                    <nf-section>
                                                        <label for="nf-field-hp-9" aria-hidden="true">
                                                            If you are a human seeing this field, please leave it empty.
                                                            <input id="nf-field-hp-9" name="nf-field-hp"
                                                                   class="nf-element nf-field-hp" type="text" value="">
                                                        </label>
                                                    </nf-section>
                                                </div>
                                            </nf-section>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="s-model__form-decor">
                <picture>
                    <source srcset="https://www.axure.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/10/group-15.png.webp"
                            type="image/webp">
                    <img src="https://www.axure.com/wp-content/uploads/2019/10/group-15.png" srcset="" alt=""
                         class="webpexpress-processed"></picture>
            </div>
        </div>

        <div class="s-model__info">
            <p>* If you enter an email address, you will receive Axure tutorials and news via email.<br>
                You can unsubscribe at any time.</p>
        </div>
    </div>
</section>
