{% include 'layout/single-split-column.twig' with {
    'header': {
        'isLight': true,
        'isSec': true,
    },
    'hero': {
        img: {
            'src': 'images/temp_hero_pic_security-legal.jpg',
            'src2x': 'images/temp_hero_pic_security-legal@2x.jpg',
            'alt': '',
        },
        'title': 'Aцуакxure Security',
        'text': '<p>At Axure, укапмwe strive to deliver products and services that not only provide outsize value and a great customer experience, but are also worthy of your trust.</p>',
    },
    'sidebar': true,
} %}