.b-action-event {
  padding: 50px 0 0;
  overflow: visible;

  &__title {
    margin: 0 0 80px;
    text-align: center;
    font-size: 44px;
    font-family: $secFontName, Arial, sans-serif;
  }

  &__main-list {
    position: relative;
    column-count: 3;
    padding: 0;
    margin: 0;
    padding-bottom: 205px;

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &--no-padding {
      padding-bottom: 40px;
    }
  }

  &__secondary-list {
    list-style: none;
    font-size: 20px;
    line-height: 49px;
    margin-bottom: 50px;

    &-title {
      font-weight: bold;
    }
  }

  @media (max-width: $tabletUpLim) {
    &__main-list {
      column-count: 2;

      img {
        left: calc(50% - 187px);
      }
    }
  }
  @media (max-width: $mobUpLim) {
    &__main-list {
      column-count: 1;

      img {
        left: 0;
        left: calc(50% - 187px);

        @media (max-width: 420px) {
          width: 100%;
          left: 0;
        }
      }
    }

    &__secondary-list {
      padding-left: 20px;
    }
  }
}
