.oneline-form {
  $radiusInput: 13px;
  $radiusSubmit: 22px;
  $oneLineFormElHeight: 50px;

  //display: flex;
  max-width: 422px;
  &__input {
    height: $oneLineFormElHeight;
    width: 100%;
    border: none;
    border-radius: $radiusInput 0 0 $radiusInput;
    padding: 12px ($radiusSubmit + 5px + 8px) 12px 18px;
    //flex: 1;
    //margin-right: -($radiusSubmit + 5px);

    font-family: $secFF;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.39;
    color: $mainTextCol;
    &::placeholder {
      color: $warm-grey-two;
    }
  }
  & &__submit {
    width: calc(100% + 30px) !important;
    margin-left: -30px !important;
    height: $oneLineFormElHeight;
    border-radius: $radiusSubmit;
    padding: 5px 0;
  }
}