.support-info {
  background-color: $c-white-smoke;
  padding-top: 52px;
  padding-bottom: 80px;

  &__title {
    margin-top: 0;
    margin-bottom: 0.644em;
    font-family: $secFF;
    font-size: 90px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.14;
    color: $c-greyish-brown;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__content {
    width: 100%;

    &.wiw {
      padding-top: 0;
      font-size: 20px;

      ol, ul {
        font-weight: normal;
        list-style-position: inside;
        padding-left: 0;
      }

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__content {
      width: 68.88%;
      padding-right: 7.04%;
    }

    &__pic-box {
      width: 31.12%;
    }
  }

  @include media-breakpoint-down(md) {
    &__title {
      font-size: 72px;
    }

    &__inner {
      flex-wrap: wrap;
    }

    &__content {
      margin-bottom: 20px;

      &.wiw {
        font-size: 18px;
      }
    }
  }

  @include media-breakpoint-down(xsm) {
    &__title {
      font-size: 48px;
    }

    &__content {
      &.wiw {
        font-size: 16px;
      }
    }
  }
}