<section class="b-logo-txt" style="background-color: #f8f8f8;">
    <div class="container">
        <div class="b-logo-txt__logo">
            <img src="../images/temp_education-logo.png" srcset="../images/temp_education-logo@2x.png 2x" alt="Axure">
        </div>
        <div class="b-logo-txt__txt">
            <h3 style="text-align: center;">Discounts for Education</h3>

            <p style="text-align: center;">Students and educators at accredited high schools, universities, and community colleges may use Axure RP Team edition free of charge. Students qualify for a one-year subscription each year they are enrolled in classes. Teachers and professors receive perpetual site licenses to use in classrooms and computer labs.</p>

            {# shortcode #}
            <div class="request-box">
                <a href="#" class="btn btn_transp">Request Free Education License</a>
            </div>

            <p style="text-align: center;">We also provide discounts to academic, non-profit, and government organizations for perpetual licenses. Annual subscriptions purchased by PO also qualify. Subscriptions purchased online are not eligible.</p>

            {# shortcode #}
            <div class="discount-values">
                <div class="discount-values__item">Educational Discount: 60% Off</div>
                <div class="discount-values__item">Non-Profit: 60% Off</div>
                <div class="discount-values__item">Government: 25% Off</div>
            </div>

            <p style="text-align: center;">To get a coupon code for a perpetual license or to request a quote, contact <a href="#">sales@axure.com</a>.</p>

        </div>
    </div>
</section>