<ul class="header-social">
    <li>
        <a href="" class="header-social__link">
            {% include 'svg_inline.twig' with {'name' : 'social_inst'} %}
        </a>
    </li>
    <li>
        <a href="" class="header-social__link">
            {% include 'svg_inline.twig' with {'name' : 'social_fb'} %}
        </a>
    </li>
    <li>
        <a href="" class="header-social__link">
            {% include 'svg_inline.twig' with {'name' : 'social_tw'} %}
        </a>
    </li>
</ul>