<nav class="sec-menu-box">
    <ul class="sec-menu">

        <li class="sec-menu__item sec-menu__item_label">
            <span class="sec-menu__label">Blog</span>
        </li>

        <li class="sec-menu__item">
            <a href="#" class="sec-menu__link active">All Posts</a>
        </li>

        <li class="sec-menu__item">
            <a href="#" class="sec-menu__link">Product Updates</a>
        </li>

        <li class="sec-menu__item">
            <a href="#" class="sec-menu__link">Best Practices</a>
        </li>

        <li class="sec-menu__item">
            <a href="#" class="sec-menu__link">From the Field</a>
        </li>

        <li class="sec-menu__item">
            <a href="#" class="sec-menu__link">Tips & Tricks</a>
        </li>

        <li class="sec-menu__item">
            <form action="#" class="search-form">
                <input type="text" name="s" class="search-input">
                <input type="submit" value="Search" class="search-submit">
            </form>
        </li>

    </ul>
</nav>
