<section class="b-logo-txt">
    <div class="container">
        <div class="b-logo-txt__logo">
            <img src="../images/document.svg" alt="">
        </div>
        <div class="b-logo-txt__txt">
            <h3 style="text-align: center;">Purchase Orders and Quotes</h3>

            <p>We accept purchase orders or quote requests for Axure RP. Please include the following information: </p>

            <ul>
                <li>The product name Axure RP Pro, Axure RP Team, or Axure RP Enterprise</li>
                <li>Perpetual or Annual Subscription (monthly subscriptions are only available online)</li>
                <li>For subscription renewals: original order number and expiration date</li>
                <li>The number of units you wish to order</li>
                <li>The name to which the product should be licensed</li>
                <li>Your company's billing address, contact name, phone number and fax number</li>
                <li>The email address for the qoute or order confirmation and invoice and, if different, the email address for delivery</li>
            </ul>

            <p style="text-align: center;">If this information is complete, we will process without delay.<br>
                Email the PO or Request for Quote to sales@axure.com, or fax it to (415) 651 - 9527.
            </p>
            <p style="text-align: center;">
                If you prefer to send it by mail, please send it to:<br>
                Axure Software Solutions<br>
                Attn: Sales<br>
                707 Broadway, Suite 1600<br>
                San Diego, CA 92101, USA
            </p>

        </div>
    </div>
</section>