<ul class="sidebar-social">
    <li>
        <a href="" class="sidebar-social__link">
            {% include 'svg_inline.twig' with {'name' : 'social_tw-square'} %}
        </a>
    </li>
    <li>
        <a href="" class="sidebar-social__link">
            {% include 'svg_inline.twig' with {'name' : 'social_ln-square'} %}
        </a>
    </li>
    <li>
        <a href="" class="sidebar-social__link">
            {% include 'svg_inline.twig' with {'name' : 'social_fb-square'} %}
        </a>
    </li>
</ul>