<section class="b-logo-txt b-logo-txt--double b-logo-txt--anchor">
	<div class="container b-logo-txt__content">
		<div class="b-logo-txt__item" id="education">
			<div class="b-logo-txt__logo" aria-hidden="true">
				<img src="images/education.svg" alt="">
			</div>
			<div class="b-logo-txt__txt" style="text-align: center;">
				<h3>Purchase Orders and Quotes</h3>
				<p>
					Qualified students and educators at accredited high schools, universities, and community colleges
					may use Axure RP Team edition free of charge.
				</p>
				<button class="js-pricing-btn" type="button" data-btn="request">Request a Free Education
					License
				</button>
			</div>
		</div>

		<div class="b-logo-txt__item" id="quotes">
			<div class="b-logo-txt__logo" aria-hidden="true">
				<img src="images/orders.svg" alt="">
			</div>
			<div class="b-logo-txt__txt" style="text-align: center;">
				<h3>Purchase Orders and Quotes</h3>
				<p>
					Businesses may purchase Axure RP licenses with a purchase order. Written quotes can also be
					generated and returned if needed.
				</p>
				<button class="js-pricing-btn" type="button" data-btn="submit">Request a Free Education License</button>

			</div>
		</div>
	</div>

	<section class="b-logo-txt__popup b-popup js-pricing-popup" data-popup-request role="alert">
		<button type="button" class="b-popup__close js-popup-close">
			<div class="visually-hidden">close dialog</div>
			<img src="images/pop-close.svg" alt="" role="presentation">
		</button>
		<h2 class="b-popup__title">Please include the following information in your purchase order or quote request:
		</h2>
		<div class="b-popup__text wysiwyg">
			<ul>
				<li>• The product name: Axure RP Pro, Axure RP Team, or Axure RP Enterprise</li>
				<li>• License or Annual Subscription (monthly subscriptions are only available online)
				<li>• For licenses, let us know whether it is an upgrade or new purchase. For upgrades, please provide
					the license key(s) to be upgraded.</li>
				<li>• For subscription renewals, provide the original order number and expiration date</li>
				<li>• The number of users</li>
				<li>• The name to which the product should be licensed</li>
				<li>• Your company’s billing address, contact name, phone number and fax number</li>
				<li>• The email address for the quote or order confirmation and invoice and, if different, the email
					address for delivery</li>
			</ul>
		</div>
		<div class="b-popup__grid">
			<div class="b-popup__col">
				<div class="el-wysiwyg">
					If this information is complete, we will process the PO or quote without delay. </br>
					Email the PO or quote request to sales@axure.com, <br>
					or fax it to (415) 651 – 9527.
				</div>
			</div>
			<div class="b-popup__col">
				<div class="el-wysiwyg">
					If you prefer to send it by mail, please send it to:
					Axure Software Solutions <br>
					Attn: Sales <br>
					707 Broadway, Suite 1600 <br>
					San Diego, CA 92101, USA
				</div>
			</div>
		</div>
	</section>

	<section class="b-logo-txt__popup b-popup js-pricing-popup" data-popup-submit role="alert">
		<button type="button" class="b-popup__close js-popup-close">
			<div class="visually-hidden">close dialog</div>
			<img src="images/pop-close.svg" alt="" role="presentation">
		</button>
		<h2 class="b-popup__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<div class="b-popup__text wysiwyg">
			<ul>
				<li>• The product name: Axure RP Pro, Axure RP Team, or Axure RP Enterprise</li>
				<li>• License or Annual Subscription (monthly subscriptions are only available online)
				<li>• For licenses, let us know whether it is an upgrade or new purchase. For upgrades, please provide
					the license key(s) to be upgraded.</li>
				<li>• For subscription renewals, provide the original order number and expiration date</li>
				<li>• The number of users</li>
				<li>• The name to which the product should be licensed</li>
				<li>• Your company’s billing address, contact name, phone number and fax number</li>
				<li>• The email address for the quote or order confirmation and invoice and, if different, the email
					address for delivery</li>
			</ul>
		</div>
		<div class="b-popup__grid">
			<div class="b-popup__col">
				<div class="el-wysiwyg">
					If this information is complete, we will process the PO or quote without delay. </br>
					Email the PO or quote request to sales@axure.com, <br>
					or fax it to (415) 651 – 9527.
				</div>
			</div>
			<div class="b-popup__col">
				<div class="el-wysiwyg">
					If you prefer to send it by mail, please send it to:
					Axure Software Solutions <br>
					Attn: Sales <br>
					707 Broadway, Suite 1600 <br>
					San Diego, CA 92101, USA
				</div>
			</div>
		</div>
	</section>
</section>
