<section class="b-try">
    <div class="container">
        <div class="b-try-content">
            <div class="b-try__download">
                <h2 class="b-try__title">Try Axure RP Free for 30 Days</h2>
                <p class="b-try__text">When you're ready to see how Axure RP can help you and your team, download the free 30-day fully-functional trial for PC or Mac.</p>
                <a href="#" class="btn btn_download btn_download-icon">Download</a>
            </div>

            <div class="b-try__logo">
                <img src="images/logo-square.svg" alt="Axure">
            </div>
        </div>
    </div>
</section>